
body{
    margin:0%
}

.aryan {
    background-color: rgba(0,2,104,1);
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0%;
    font-family: cursive;
}

.nav-header{
    color: white;
    text-decoration: none;
}

.nav-header:hover {
    color: rgb(233, 210, 0);
    text-decoration: underline;
}

.nav-link {
    background: rgba(107, 107, 107,.5);
    border-radius: 0.25rem;
    text-align: center;
    color: white;
    transition: 0.3s ease-in-out all;
    padding: 0.75rem 0;
}

.nav-links {
        display: grid;
        gap: 2rem;
        padding-bottom: 3rem;
}
/* .home-img{
  /* width:100%; 
  height:100%;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat; */
  /* background-image: url(ASH.png);
  width: 100%;
  padding-left: 0%; */ 

  .page-footer {
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    background-color: rgb(7, 122, 7);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.content{
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    padding-left: 10%;
    padding-right: 10%;
    color:black;
}